@import url('https://fonts.googleapis.com/css?family=Cinzel|Montserrat&display=swap');

:root {
    scroll-behavior: smooth;
}
h1, h2, p {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1200px;
    margin: auto;
}
header {
    background-color: #710004;
    max-width: 1200px;
    background-size: 100%;
}
h1 {
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: lighter;
    text-align: center;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter; 
}
#works {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: lighter;
    text-align: center;
}
#clients, #contact {
    font-family: 'Montserrat', sans-serif;
    color: #710004;
    font-weight: lighter;
    text-align: center;
}
.countdown {
    font-family: 'Montserrat', sans-serif;
    background-color: #710004;
    text-align: center;
    font-size: 24px;
    color: white;
    padding-top: 40px;
}
#timer {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 36px;
    color: 710004;
    text-align: center;
    padding: 20px;
}
#book {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    background-color: rgb(0, 88, 47);
    border: hidden;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    filter: drop-shadow(5px 5px 3px black);
}
#book:hover {
    background-color: white;
    color: #710004;
    transition: 0.5s;
}
.portfolio-background {
    background-color: #710004;
    width: 100%;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav>a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
aside h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #710004;
    text-align: center;
    padding-top: 20px;
}
aside p {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: left; 
    padding: 20px;
}
nav>a:hover {
    color: black;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a a b b"
                         "a a c d"
                         "e e f f"
                         "g h f f";
    grid-gap: 20px;
}
.container img {
    display: block;
    width: 100%;
    filter: drop-shadow(0px 0px 10px black);
}
.tenderness {
    grid-area: a;
}
.asian {
    grid-area: b;
}
.waiting {
    grid-area: c;
}
.businessman {
    grid-area: d;
}
.darkskin {
    grid-area: e;
}
.cool {
    grid-area:  f;
}
.badguy {
    grid-area: g;
}
.vika {
    grid-area: h;
}
.tenderness:hover {
  transform: scale(1);
  z-index: 1;
  filter: drop-shadow(5px 50px 100px);
}
.asian:hover {
  transform: scale(1);
  z-index: 1;
  filter: drop-shadow(5px 50px 100px);
}
.waiting:hover {
  transform: scale(2);
  z-index: 1;
  filter: drop-shadow(5px 50px 100px);
}
.businessman:hover {
  transform: scale(2);
  z-index: 1;
  filter: drop-shadow(5px 50px 100px);
}
.darkskin:hover {
  transform: scale(1);
  z-index: 1;
  filter: drop-shadow(5px 50px 100px);
}
.cool:hover {
  transform: scale(1);
  z-index: 1;
  filter: drop-shadow(5px 50px 100px);
}
.badguy:hover {
  transform: scale(2);
  z-index: 1;
  filter: drop-shadow(5px 50px 100px);
}
.vika:hover {
  transform: scale(2);
  z-index: 1;
  filter: drop-shadow(5px 50px 100px);
}
.carousel-control-prev, .carousel-control-next {
    filter: brightness(30%);
}
form {
    text-align: center;
}
input[type=text] {
    padding: 20px;
    margin: 5px;
    background-color: #DBDBDB;
    border: 1px solid grey;
    resize: vertical;
}
input[type=email] {
    padding: 20px;
    margin: 5px;
    background-color: #DBDBDB;
    border: 1px solid grey;
    resize: vertical;
}
#comments {
    padding: 50px 20px;
}
input[type=submit] {
    background-color: #710004;
    filter: opacity(50%);
    width: 200px;
    color: white;
    padding: 12px 20px;
    margin: 5px 0px 20px 0px;
    border: none;
    cursor: pointer;
    float: inline-end;
}
input[type=submit]:hover {
    background-color: #710004;
    filter: opacity(100%);
    transition: 0.5s;
}
input[type=text]:focus {
    background-color: #f2f2f2;
}
input[type=email]:focus {
    background-color: #f2f2f2;
}
.contact {
    width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px 40px 0px;
}
footer {
    background-color: #710004;
}
footer p {
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-align: center;
    padding: 20px;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}
@media (min-width: 600px) {
    h1 {
        font-size: 72px;
    }
}

@media (min-width: 600px) {
    nav>a {
        font-size: 32px;
    }

}

@media (min-width: 600px) {
    main .about-me {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 33% 33% 33%;
    }
}

@media (min-width: 600px) {
    div>aside {
        padding: 20px 20px 0px 60px;
    }
}

@media (min-width: 600px) {
    #about-me {
        font-size: 56px;
    }

}

@media (min-width: 600px) {
    .text-about {
        font-size: 18px;
        line-height: 1.5;
        padding-top: 50px;
    }

}

@media (min-width: 600px) {
    div>img {
        width: 800px;
        transition-duration: 1s;
    }
}
@media (min-width: 600px) {
    #works {
        font-size: 72px;
        padding: 36px;
    }
}
@media (min-width: 600px) {
    #clients, #contact {
        font-size: 72px;
        padding: 36px;
    }
}

@media (min-width: 600px) {
    input[type=text] {
        width: 600px;
    }
}

@media (min-width: 600px) {
    input[type=email] {
        width: 600px;
    }
}
